<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055728123366-4e2vu6rh8outs9jrmbuhn657s3thumuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055728123366-4e2vu6rh8outs9jrmbuhn657s3thumuj</string>
	<key>API_KEY</key>
	<string>AIzaSyD0cpSLE6lmONizRX2TSeiYEQxbnjHjC-w</string>
	<key>GCM_SENDER_ID</key>
	<string>1055728123366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.sewera</string>
	<key>PROJECT_ID</key>
	<string>sewera-90b87</string>
	<key>STORAGE_BUCKET</key>
	<string>sewera-90b87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055728123366:ios:45fae47958aebac5446a27</string>
</dict>
</plist>